@font-face {
    font-family: 'trebichet_bold';
    src: url("../fonts/Trebuchet_MS_bold.ttf");
}

@font-face {
    font-family: 'Gotham-Black';
    src: url("../fonts/Gotham-Black.ttf");
}

@font-face {
    font-family: 'helvetica-neue_bold';
    src: url('../fonts/helveticaneuecyr-bold.eot');
    src: url('../fonts/helveticaneuecyr-bold.otf');
    src: url('../fonts/helveticaneuecyr-bold.svg');
    src: url('../fonts/helveticaneuecyr-bold.ttf');
    src: url('../fonts/helveticaneuecyr-bold.woff');
}