$nav-link: #fff;
$nav-link-hover:#ffca00;
$nav-font-size: 13px;
$default-font: 'Arial';
$trebushet-bold: 'trebichet_bold';
$helvetic-bold:'helvetica-neue_bold';
$gotham: 'Gotham-Black';
$main-bg:#fff;
$large-text-color:#097749;
$bg-third-slider:#252525;
$robert-info-color:#ffca00;
$click-link-color:#1ab374;
$color-grey:#898989;