@font-face {
    font-family: "rajdhani-medium";
    src: url("../fonts/Rajdhani-Medium.ttf");
}

@font-face {
    font-family: "rajdhani-regular";
    src: url("../fonts/Rajdhani-Regular.ttf");
}

@font-face {
    font-family: "rajdhani-bold";
    src: url("../fonts/Rajdhani-Bold.ttf");
}

@font-face {
    font-family: "rajdhani-semiBold";
    src: url("../fonts/Rajdhani-SemiBold.ttf");
}