/*background*/

$bg-header:#000000;
$bg-sale:#4f4f4f;

/*Fonts*/

$regular:"rajdhani-regular";
$medium:"rajdhani-medium";
$semi-bold:"rajdhani-semiBold";
$head-bold:"rajdhani-bold";

/*Colors*/

$col-regular:#000;