@font-face {
    font-family: "bigNoodlyTitle";
    src: url("../fonts/big_noodle_titling.ttf");
    src: url("../fonts/big_noodle_titling.eot");
    src: url("../fonts/big_noodle_titling.svg");
    src: url("../fonts/big_noodle_titling.woff");
    src: url("../fonts/big_noodle_titling.otf");
    src: url("../fonts/bignoodletitling.woff2");
}

@font-face {
    font-family: "roboto-thin";
    src: url("../fonts/roboto-thin.eot");
    src: url("../fonts/roboto-thin.otf");
    src: url("../fonts/roboto-thin.svg");
    src: url("../fonts/roboto-thin.ttf");
    src: url("../fonts/roboto-thin.woff");
}

@font-face {
    font-family: "roboto-bold";
    src: url("../fonts/Roboto-Bold.eot");
    src: url("../fonts/Roboto-Bold.otf");
    src: url("../fonts/Roboto-Bold.svg");
    src: url("../fonts/Roboto-Bold.woff");
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: "roboto-light";
    src: url("../fonts/roboto-light.eot");
    src: url("../fonts/roboto-light.otf");
    src: url("../fonts/roboto-light.svg");
    src: url("../fonts/roboto-light.woff");
    src: url("../fonts/roboto-light.ttf");
}

@font-face {
    font-family: "roboto-con_bold";
    src: url("../fonts/roboto-condensed.eot");
    src: url("../fonts/roboto-condensed.otf");
    src: url("../fonts/roboto-condensed.svg");
    src: url("../fonts/roboto-condensed.woff");
    src: url("../fonts/roboto-condensed.ttf");
}

@font-face {
    font-family: "roboto-condensend";
    src: url("../fonts/Roboto-condensed.eot");
    src: url("../fonts/Roboto-condensed.otf");
    src: url("../fonts/Roboto-condensed.svg");
    src: url("../fonts/Roboto-condensed.woff");
    src: url("../fonts/Roboto-condensed.ttf");
}