/*Fonts*/

$font-head: "bigNoodlyTitle";
$font-p:"roboto-thin";
$font-h3:"roboto-bold";
$font-light:"roboto-light";
$font-half-head:"roboto-con_bold";
$font-statistic:"roboto-condensend";

/**********************************/


/*background*/

$bg-body: #fff;
$bg-slider:rgb(53, 53, 53);
$bg-skill:#ebebeb;
$bg-video: #171f23;
$bg-button:#e84c3d;
$bg-clients:#1c1c1c;
$bg-team:#ebebeb;
$bg-statistics:#171f23;
$bg-blog-text:#ebebeb;
$bg-btn-submit:rgb(246, 116, 75);

/*********************************/


/*color*/

$color-text-slider:#d6d5d5;
$color-head-text:#3d3d3d;
$color-h3:#3d3d3d;
$color-feature: #fff;

/*********************************/